/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 9:03:44 PM
    Author     : Flex
*/

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */

  margin: 0 auto -90px;
  /* Pad bottom by footer height */
  padding: 0 0 90px;

}

/* Set the fixed height of the footer here */
#footer {

  height: 90px;

  background-color: black;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*Header code*/

.no-vis {
  visibility: hidden;
}


.upsidedown {
  transform: rotateX(180deg);
}


.page-content 
.thumbnail.dark,
.img-thumbnail.dark {
  background-color: black;
}


.transparent {
  opacity: 0.7;
}

/*Body code*/

#wrap.bgcover {
  background-image: url("assets/a.jpg");

  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}


#wrap > 
.container > 
.page-header {
  //background-color: green;
  text-align: center;
}
#wrap > 
.container >
.page-content {
  //background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
  //background-color: green;
  margin: 25px;
  font-size: 16px;
  line-height: 150%;  
}


.jumbotron 
h2, h3, h4 {
  margin-left: 24px;
  margin-right: 24px;  
}

.jumbotron 
h3 {
  color: #9d9d9d;
  font-size: 1.5em;
}

.jumbotron 
h2 {
  color: lightsteelblue;
  font-size: 1.875em;
}
.jumbotron 
h4{
  color: lightsteelblue;
  font-size: 1.125em;
}

.page-content > 
.jumbotron {
  position: relative  ;
  background-color: rgba(0, 0, 0, 0.7);
}


/*Blog page*/

.page-content
.blog-content {
  //background: lightgreen;
  margin: 10px;
}

.page-content
.blog-content 
img {
  margin: 15px 0 15px 0;
}

.page-content
.blog-side {
  //background: pink;
  margin: 0 15px 0 15px;
}

/*end blog page*/

/*Projects page*/

#proj-list li {
  display: none;
}

.page-content 
.thumbnail {
  position: relative;
  width: 100%;
  height: 240px;
}

.page-content .thumbnail:hover,
.page-content .thumbnail:focus,
.page-content .thumbnail.active {
  border-color: #337ab7;
}

.page-content 
.thumbnail >
a {
  display: inline-block;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.page-content 
.thumbnail >
a {
  text-decoration: none;
}

.page-content 
a:hover >
.hover-darken 
.no-vis {
  visibility: visible;
}

.page-content 
a:hover >
.hover-darken 
h1, p {
  margin: 0;
  padding: 10px;
}

.page-content 
.thumbnail >
a:hover >
.hover-darken {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
  width: 100%;
  height: 100%;  
  color: white;
  //transition: all .5s ease-in-out;
}

.page-content 
a.projectA {
  background-image: url("http://goo.gl/3SCrr7");
}

.page-content 
a.projectB {
  background-image: url("http://goo.gl/1Ov4AA");
}

.page-content 
a.projectC {
  background-image: url("http://goo.gl/xa0Qie");
}

.page-content
a.projectD {
  background-image: url("http://goo.gl/4JPrnJ");
}

.glyph-center {
  vertical-align:middle;
  top: 0;
}

/*End Projects*/

/*Footer code*/

#footer > .container {
  //background-color: green;
  padding-left: 15px;
  padding-right: 15px;
}

#footer > .container p {
  //background-color: pink;


  margin: 0;
  padding: 0;
}

#footer > .container ul {  
  //background-color: blue;
  list-style-type: none;

  margin: 16px;

  padding: 0;
  text-align: center;
}

#footer > .container ul li {
  //background-color: yellow;
  display: inline-block;
  margin: 0 16px 0 16px;
}

#footer li a {
  display: inline-block;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  text-decoration: none;
  cursor: pointer;
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .2s ease-in-out;
}

#footer li a.facebook {
  background-image: url(assets/facebook.png);
}

#footer li a.twitter {
  background-image: url(assets/twitter.png);
}

#footer li a.github {
  background-image: url(assets/github_alt.png);
}

#footer li a:hover.expand {
  background-size: 64px;
  transition: background-size .2s ease-in-out;
}

code {
  font-size: 80%;
}
